# Lending Club Data - Decision Tree

Lending Club Loan Data where the data is imbalanced, big and has multiple features with different data types. For the purpose of modelling, I will be taking all default loans as the target variable and will be trying to predict if a loan will default or not. Also cleaning the data .

1. Importing Libraries & Importing Data
2. Data Cleaning
3. Creating Dummies
4. Modelling-Decision Tree

# Importing Libraries & Importing Data

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import os

#Reading Dataset
dataset= pd.read_csv('XYZCorp_LendingData.txt',sep="\t")

#Printing Dataset
dataset

C:\Users\Arshita\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (17,45,53) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,default_ind
0,1077501,1296599,5000.0,5000.0,4975.000000,36 months,10.65,162.87,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,1077430,1314167,2500.0,2500.0,2500.000000,60 months,15.27,59.83,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,1077175,1313524,2400.0,2400.0,2400.000000,36 months,15.96,84.33,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,1076863,1277178,10000.0,10000.0,10000.000000,36 months,13.49,339.31,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,1075358,1311748,3000.0,3000.0,3000.000000,60 months,12.69,67.79,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
5,1075269,1311441,5000.0,5000.0,5000.000000,36 months,7.90,156.46,A,A4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
6,1069639,1304742,7000.0,7000.0,7000.000000,60 months,15.96,170.08,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
7,1072053,1288686,3000.0,3000.0,3000.000000,36 months,18.64,109.43,E,E1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
8,1071795,1306957,5600.0,5600.0,5600.000000,60 months,21.28,152.39,F,F2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
9,1071570,1306721,5375.0,5375.0,5350.000000,60 months,12.69,121.45,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
10,1070078,1305201,6500.0,6500.0,6500.000000,60 months,14.65,153.45,C,C3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
11,1069908,1305008,12000.0,12000.0,12000.000000,36 months,12.69,402.54,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
12,1064687,1298717,9000.0,9000.0,9000.000000,36 months,13.49,305.38,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
13,1069866,1304956,3000.0,3000.0,3000.000000,36 months,9.91,96.68,B,B1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
14,1069057,1303503,10000.0,10000.0,10000.000000,36 months,10.65,325.74,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
15,1069759,1304871,1000.0,1000.0,1000.000000,36 months,16.29,35.31,D,D1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
16,1065775,1299699,10000.0,10000.0,10000.000000,36 months,15.27,347.98,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
17,1069971,1304884,3600.0,3600.0,3600.000000,36 months,6.03,109.57,A,A1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
18,1062474,1294539,6000.0,6000.0,6000.000000,36 months,11.71,198.46,B,B3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
19,1069742,1304855,9200.0,9200.0,9200.000000,36 months,6.03,280.01,A,A1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
20,1069740,1284848,20250.0,20250.0,19142.161077,60 months,15.27,484.63,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
21,1039153,1269083,21000.0,21000.0,21000.000000,36 months,12.42,701.73,B,B4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
22,1069710,1304821,10000.0,10000.0,10000.000000,36 months,11.71,330.76,B,B3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
23,1069700,1304810,10000.0,10000.0,10000.000000,36 months,11.71,330.76,B,B3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
24,1069559,1304634,6000.0,6000.0,6000.000000,36 months,11.71,198.46,B,B3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
25,1069697,1273773,15000.0,15000.0,15000.000000,36 months,9.91,483.38,B,B1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
26,1069800,1304679,15000.0,15000.0,8725.000000,36 months,14.27,514.64,C,C2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
27,1069657,1304764,5000.0,5000.0,5000.000000,60 months,16.77,123.65,D,D2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
28,1069799,1304678,4000.0,4000.0,4000.000000,36 months,11.71,132.31,B,B3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
29,1047704,1278806,8500.0,8500.0,8500.000000,36 months,11.71,281.15,B,B3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
855939,36691397,39434133,20000.0,20000.0,20000.000000,36 months,6.99,617.46,A,A3,...,NaN,NaN,NaN,NaN,NaN,39700.0,NaN,NaN,NaN,0
855940,36500819,39232937,10300.0,10300.0,10300.000000,60 months,13.66,237.86,C,C3,...,NaN,NaN,NaN,NaN,NaN,22000.0,NaN,NaN,NaN,0
855941,36743377,39486112,4200.0,4200.0,4200.000000,36 months,15.99,147.64,D,D2,...,NaN,NaN,NaN,NaN,NaN,20400.0,NaN,NaN,NaN,1
855942,36231083,38942474,15000.0,15000.0,15000.000000,36 months,11.99,498.15,B,B5,...,NaN,NaN,NaN,NaN,NaN,9700.0,NaN,NaN,NaN,0
855943,36371802,39103231,15000.0,15000.0,15000.000000,60 months,11.44,329.44,B,B4,...,NaN,NaN,NaN,NaN,NaN,26100.0,NaN,NaN,NaN,0
855944,36250801,38962184,6000.0,6000.0,6000.000000,36 months,17.86,216.50,D,D5,...,NaN,NaN,NaN,NaN,NaN,8500.0,NaN,NaN,NaN,0
855945,36331554,39042967,26950.0,26950.0,26950.000000,36 months,8.19,846.88,A,A5,...,NaN,NaN,NaN,NaN,NaN,129100.0,NaN,NaN,NaN,0
855946,36460697,39182359,23000.0,23000.0,23000.000000,60 months,15.59,554.32,D,D1,...,NaN,NaN,NaN,NaN,NaN,65600.0,NaN,NaN,NaN,0
855947,35773415,38468842,18700.0,18700.0,18700.000000,60 months,17.86,473.44,D,D5,...,NaN,NaN,NaN,NaN,NaN,10200.0,NaN,NaN,NaN,0
855948,36440728,39152101,25000.0,25000.0,25000.000000,60 months,15.99,607.82,D,D2,...,NaN,NaN,NaN,NaN,NaN,18700.0,NaN,NaN,NaN,0
855949,35591131,38288343,25000.0,25000.0,25000.000000,60 months,15.59,602.52,D,D1,...,NaN,NaN,NaN,NaN,NaN,24400.0,NaN,NaN,NaN,0
855950,36361815,39093260,26500.0,26500.0,26500.000000,60 months,8.67,545.87,B,B1,...,NaN,NaN,NaN,NaN,NaN,118600.0,NaN,NaN,NaN,0
855951,36201871,38913321,21000.0,21000.0,21000.000000,36 months,6.03,639.15,A,A1,...,NaN,NaN,NaN,NaN,NaN,76300.0,NaN,NaN,NaN,0
855952,36381756,39013193,8000.0,8000.0,8000.000000,36 months,8.19,251.40,A,A5,...,NaN,NaN,NaN,NaN,NaN,7300.0,NaN,NaN,NaN,0
855953,36231724,38943173,12000.0,12000.0,12000.000000,36 months,9.49,384.34,B,B2,...,NaN,NaN,NaN,NaN,NaN,11900.0,NaN,NaN,NaN,0
855954,36231718,38943165,10775.0,10775.0,10775.000000,36 months,6.03,327.95,A,A1,...,NaN,NaN,NaN,NaN,NaN,41700.0,NaN,NaN,NaN,0
855955,36381704,39013139,7000.0,7000.0,7000.000000,36 months,14.31,240.30,C,C4,...,NaN,NaN,NaN,NaN,NaN,9900.0,NaN,NaN,NaN,0
855956,36241316,38952731,6225.0,6225.0,6225.000000,36 months,16.49,220.37,D,D3,...,NaN,NaN,NaN,NaN,NaN,1800.0,NaN,NaN,NaN,0
855957,36301729,39023153,10000.0,10000.0,10000.000000,36 months,6.49,306.45,A,A2,...,NaN,NaN,NaN,NaN,NaN,30300.0,NaN,NaN,NaN,0
855958,36250208,38961532,13150.0,13150.0,13150.000000,60 months,14.99,312.77,C,C5,...,NaN,NaN,NaN,NaN,NaN,20700.0,NaN,NaN,NaN,0
855959,36421485,39142898,4000.0,4000.0,4000.000000,36 months,8.67,126.59,B,B1,...,NaN,NaN,NaN,NaN,NaN,30100.0,NaN,NaN,NaN,0
855960,35094480,37777829,7500.0,7500.0,7500.000000,36 months,9.49,240.22,B,B2,...,NaN,NaN,NaN,NaN,NaN,14500.0,NaN,NaN,NaN,0
855961,36260758,38972123,10850.0,10850.0,10850.000000,36 months,19.24,399.04,E,E2,...,NaN,NaN,NaN,NaN,NaN,16800.0,NaN,NaN,NaN,1
855962,36330911,39042282,12000.0,12000.0,12000.000000,36 months,11.99,398.52,B,B5,...,NaN,NaN,NaN,NaN,NaN,30300.0,NaN,NaN,NaN,0
855963,36221446,38932858,11575.0,11575.0,11575.000000,36 months,15.59,404.61,D,D1,...,NaN,NaN,NaN,NaN,NaN,28100.0,NaN,NaN,NaN,0
855964,36371250,39102635,10000.0,10000.0,10000.000000,36 months,11.99,332.10,B,B5,...,NaN,NaN,NaN,NaN,NaN,17100.0,NaN,NaN,NaN,0
855965,36441262,39152692,24000.0,24000.0,24000.000000,36 months,11.99,797.03,B,B5,...,NaN,NaN,NaN,NaN,NaN,10200.0,NaN,NaN,NaN,0
855966,36271333,38982739,13000.0,13000.0,13000.000000,60 months,15.99,316.07,D,D2,...,NaN,NaN,NaN,NaN,NaN,18000.0,NaN,NaN,NaN,0
855967,36490806,39222577,12000.0,12000.0,12000.000000,60 months,19.99,317.86,E,E3,...,NaN,NaN,NaN,NaN,NaN,27000.0,NaN,NaN,NaN,0
855968,36271262,38982659,20000.0,20000.0,20000.000000,36 months,11.99,664.20,B,B5,...,NaN,NaN,NaN,NaN,NaN,41700.0,NaN,NaN,NaN,0

Making a copy of the dataframe so that I do not have to re-read the entire dataset again in order to save memory

In [2]:
loan= dataset.copy(deep=True)
loan.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,default_ind
0,1077501,1296599,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,1077430,1314167,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,1077175,1313524,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,1076863,1277178,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,1075358,1311748,3000.0,3000.0,3000.0,60 months,12.69,67.79,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

# Data Cleaning

We do not need 'id' and 'member_id',as it has no real predictive power so we can drop it

In [3]:

loan.drop(['id','member_id'],1,inplace=True)

The column 'emp_title' have a lot of unique entries and it has no real predictive power so we drop it.

In [4]:
loan.drop(['emp_title'],1,inplace=True)

Here 'emp_length' has missing values so replacing n/a values with nan and null values with zero 
'emp_length' is a categorical data,but here the intervals are easy to define so we can convert it inti numerical data with a simplifier

In [5]:
loan.replace('n/a',np.nan,inplace=True)
loan['emp_length'].fillna(value=0,inplace=True)

loan['emp_length'].replace(to_replace='[^0-9]+', value='', inplace=True, regex=True)
loan['emp_length']=loan['emp_length'].astype(int)

The column 'pymnt_plan' shows the loan is not finalised yet and the borrower has been adviced a plan,so it do not predictive power.
The columns 'title' and 'desc' are arbitrary free text from applicant so not so useful in prediction.
Thus,dropping all these three column.

In [6]:
loan.drop(['pymnt_plan','desc','title'],1,inplace=True)

Removing all the columns having missing data more than 30%
As this much missing data will not help for modelling and exploration

In [7]:
#function for removing data

def removeNv(dataframe,axis=1,percent=0.3):
    df=dataframe.copy()
    ishape=df.shape
    colnames=(df.isnull().sum()/len(df))
    colnames=list(colnames[colnames.values>=percent].index)
    df.drop(labels=colnames,axis=1,inplace=True)
    print("Number ofColumns dropped \t:",len(colnames))
    print("\n old dataset rows column ",ishape,"\n New data rows columns",df.shape)
    return df

In [8]:
#calling the above function

loan=removeNv(loan,axis=1,percent=0.3)

Number ofColumns dropped 	: 20

 old dataset rows column  (855969, 67)
 New data rows columns (855969, 47)

After removing all the columns that is not needed in our prediction now we are left with 47 columns

As we see the data now there are still some column that has missing values especially the columns having date. So,fixing the data types and then handling the missing data.

Converting the date object columns into integer number of years or months just because I do not want to blow up the number of feature columns by performing one-hot encoding on them. For filling the null values I have taken the dates with the highest number of counts.

In [9]:
loan['earliest_cr_line']= pd.to_datetime(loan['earliest_cr_line'].fillna('2001-08-01')).apply(lambda x: int(x.strftime('%m')))
loan['issue_d']= pd.to_datetime(loan['issue_d']).apply(lambda x: int(x.strftime('%Y')))
loan['last_pymnt_d']= pd.to_datetime(loan['last_pymnt_d'].fillna('2016-01-01')).apply(lambda x: int(x.strftime('%m')))
loan['last_credit_pull_d']= pd.to_datetime(loan['last_credit_pull_d'].fillna("2016-01-01")).apply(lambda x: int(x.strftime('%m')))
loan['next_pymnt_d'] = pd.to_datetime(loan['next_pymnt_d'].fillna(value = '2016-02-01')).apply(lambda x:int(x.strftime("%Y")))

After replacing th enull values in the above code we extracting month in 'earliest_cr_line','last_pymnt_d','last_credit_pull_d' and Year in 'issue_d','next_pymnt_d'

Some attribute we encountered like out_prncp,out_prncp_inv, 'total_pymnt', 'total_pymnt_inv', total_rec_prncp', 'grade', 'sub_grade','total_rec_int', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee'as they are detail attribute about the loan after it was granted

In [11]:
loan.drop(['out_prncp','out_prncp_inv','total_pymnt','total_pymnt_inv','total_rec_prncp','grade','sub_grade'],1,inplace=True)

In [12]:
loan.drop(['total_rec_int','total_rec_late_fee','recoveries','collection_recovery_fee'],1,inplace=True)

In [13]:
loan.shape

(855969, 36)

After removing  the columns that is not needed in our prediction now we are left with 36 columns

In [15]:
loan.drop(['zip_code','purpose','addr_state'],1,inplace=True)

Columns like 'zip_code','purpose','addr_state' are basically required in visualisation not in prediction.
There are some other columns whic have null values we will replace it with 0 as they are certainly be of high feature importance due to their description.

In [17]:
loan.fillna(0.0,inplace=True)
loan.fillna(0,inplace=True)

### Dummies
For rest categorical variable

In [18]:
loan = pd.get_dummies(loan)
print(loan.shape)

(855969, 43)

### Target Variable

In [19]:
loan['default_ind'].value_counts()

0    809502
1     46467
Name: default_ind, dtype: int64

# Modelling
## Decision Tree

#### Splitting data into train and test

In [20]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(loan.drop('default_ind',axis=1),loan['default_ind'],test_size=0.20,random_state=101)

In [21]:
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics
from sklearn import metrics

In [22]:
dt_c = DecisionTreeClassifier()

dt_c.fit(X_train,y_train)

y_predict = dt_c.predict(X_test)

print("DecisionTreeClassifier",metrics.accuracy_score(y_predict,y_test),'\n')
print(metrics.classification_report(y_test, y_predict))

DecisionTreeClassifier 0.9782352185240137

              precision    recall  f1-score   support

           0       0.99      0.99      0.99    161867
           1       0.80      0.81      0.80      9327

   micro avg       0.98      0.98      0.98    171194
   macro avg       0.89      0.90      0.90    171194
weighted avg       0.98      0.98      0.98    171194